.AppView {
  height: 100%;
  width: 100%;
  max-width: 475px;
  max-height: 900px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.AppViewFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--color-secondary);
  padding: 0.4rem;
}

.buttonShowLastResults {
  width: fit-content;
  background-color: rgb(39, 59, 40);
}
