.trackContainer {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    height: max-content;
    align-items: center;
    border: solid 1px var(--color-secondary);
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: var(--border-radius);
}

.trackImg {
    height: 50px;
    width:50px;
}

.trackInfo {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.trackInfo h2,
.trackInfo p {
    margin: 0;
    padding: 0;
}

.trackAddButton {
    border-radius: 999px;
    height: 45px;
    width: 45px;
} 

