
.menu {
    width: 100%;
}

.menu__list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.menu__item {
    font-size: 2rem;
    font-weight: bold;
}