
.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
}

.menu {
    width: 100%;
}

.menuList {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.menuItem {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-secondary);
}

.menuItemIsActive {
    font-size: 2rem;
    font-weight: bold;
}

.menuTitle {
    margin: 0;
    padding: 0;
}