.trackListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trackListTitle {
    padding: 0;
    margin: 0;
}

.trackList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
    overflow-y: scroll;

}

.trackListItem {
    margin: 0.3rem;
}