.trackListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trackList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
    overflow-y: scroll;

}

.trackListItem {
    margin: 0.3rem;
}

/* style hidden scroll */
/* Chrome, Edge, Safari */
.trackList::-webkit-scrollbar {
  display: none;
}
/* Firefox */
.trackList {
  scrollbar-width: none;
}
