.mainView {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  overflow: hidden;
  border-top: 1px solid var(--color-secondary);
}

.mainViewContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
