.mainView {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  overflow: hidden;
}

.mainViewContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
