.mainView {
    flex: 1;
    border: 1px solid var(--color-white);
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
}

.mainViewContainer {
    height: 100%;
    display: flex;
    justify-content: center;
}