.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchTitle {
  color: var(--color-secondary);
}

.searchBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.searchBar input {
  width: 80%;
  height: 1.5rem;
}

.searchBar button {
}
