.searchContainer {
  align-self: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  /* background: linear-gradient(to bottom right, hsla(0, 0%, 100%, 0.267), hsla(0, 0%, 100%, 0.034)); */
  border-radius: var(--border-radius);
  margin-bottom: 5rem;
}

.searchTitle {
  text-align: center;
}

.searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.searchBar input {
  width: 80%;
  height: 1.5rem;
}

.buttonShowLastResults {
  align-self: flex-end;
  width: fit-content;
  background-color: blueviolet;
}

