.searchBar__container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.searchBar {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.searchBar input {
    width: 80%;
    height: 1.5rem;
}

.searchBar button {
    background-color: var(--color-text);
    color: var(--color-primary);
    padding: 0.3rem 0.6rem;
}
