.trackListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: max-content;
  align-items: center;
  padding: 0.3rem;
  border-radius: var(--border-radius);
}

.trackList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  list-style: none;
  padding-left: 0;
}

.isSelected {
  background-color: var(--color-secondary);
}

.trackImg {
  height: 50px;
  width: 50px;
}

.trackInfo {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.trackInfo h2,
.trackInfo p {
  margin: 0;
  padding: 0;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}