.header {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.headerTitle,
.headerSubtitle {
  color: var(--color-secondary);
  padding: 0;
  margin: 0;
}

.headerTitle {
  font-size: 1.5rem;
  background: linear-gradient(to right, hsla(0, 0%, 100%, 0.367), hsla(0, 0%, 100%, 0.134));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback pour les navigateurs non-webkit */
}

.headerSubtitle {
  font-size: 1rem;
}
