.footer {
  width: 100%;
  display: flex;
  border-top: 1px solid var(--color-secondary);
  padding: 0.4rem;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyStart {
    justify-content: flex-start;
}