.NavButtons {
    width: 100%;
    height: 60px;
}

.NavButtons__list {
    height: 100%;
    display: flex;
    list-style-type: none;
    gap: 0.3rem;
    margin: 0;
    padding: 0;


}

.NavButtons__item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.NavButtons__Btn {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: 1px white solid;
    border-radius: var(--border-radius);
    width: 100%;
    min-width: 48px;
    min-height: 48px;
}
