.navButtons {
  width: 100%;
  height: 60px;
}

.navButtonsList {
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 0.3rem;
  margin: 0;
  padding: 0;
}

.navButtonsItem {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navButtonsBtn {
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: 1px var(--color-white) solid;
  border-radius: var(--border-radius);
  width: 100%;
  min-width: 48px;
  min-height: 48px;
}
