.NavButtons {
    width: 100%;
    border: solid 1px white;
}

.NavButtons__list {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
    margin: 0;
    padding: 0;

}

.NavButtons__item {
    flex: 1;
    border: solid white 1px;
}

.navButtons__Btn {}