
.App {
  height: 100vh;   /* fallback par défaut */
  width: 100vw;
}

@supports (height: 100dvh) {
  .App {
    height: 100dvh; /* utilisé si dispo */
  }
}

.App__main_container {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 475px;
  max-height: 900px;
}

