:root {
    --border-radius: 10px;
    
    --color-black: rgb(30, 29, 28);
    --color-white: rgb(235, 223, 205);
    --color-grey-dark: rgb(90, 90, 90);
    --color-grey-light: rgb(178, 178, 178);

    --color-primary: var(--color-black);
    --color-secondary: var(--color-grey-dark);
    --color-tertary: var(--color-grey-light);
    --color-quartary: rgb(43, 78, 43);

    --color-text: var(--color-white);
    --color-background: var(--color-black);
    --color-button: var(--color-black);
}