/* -- filledButton -- */
.filledButton {
  padding: 1rem 2rem;
}

/* -- tonalButton -- */
.tonalButton {
  padding: 1rem 2rem;
  background-color: var(--color-secondary);
  color: var(--color-tertary);
}
/* -- textButton -- */
.textButton {
  font-weight: 600;
  color: var(--color-tertary);
  border: none;
  background-color: transparent;
  padding: 0;
  min-height: 0;
}

.textButton:hover {
    background-color: transparent;
    color: var(--color-text);
}

.textButton:hover {
  font-size: 1.2em;
  transform: translate(0, -10%);
}

.textButton:active {
  border: none;
  transform: scale(0.95);
}

.textButton:focus {
  border: none;
  outline: none;
}
