.trackAddButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-size: 2rem;
}

.trackAddButton--isSelected {
  
}

.trackAddButton span {
  display: inline-block;
  line-height: 1;
  transform: translateY(-3px);
}