.trackButtonAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-size: 2rem;
}

.trackButtonSelected {
  background-color: aquamarine;
  color: green;
}

.trackButtonAdd span {
  display: inline-block;
  line-height: 1;
  transform: translateY(-3px);
}